<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <form action="/put-crud" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">firstName</label>
          <input
            type="firstName"
            class="form-control"
            id="inputEmail4"
            placeholder="firstName"
            name="firstName"
            value="<%= data.firstName %>"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">lastName</label>
          <input
            type="lastName"
            class="form-control"
            id="inputPassword4"
            placeholder="lastName"
            name="lastName"
            value="<%= data.lastName %>"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">email</label>
          <input
            type="email"
            class="form-control"
            id="inputPassword4"
            placeholder="email"
            name="email"
            value="<%= data.email %>"
          />
        </div>
        <div class="form-group">
          <input value="<%= data.id %>" name="id" hidden type="text" />
        </div>
      </div>
      <button>update</button>
    </form>
  </body>
</html>
